
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.vagrant

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Stuff:
*.log
*.db
*.rdb

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.idea
.virtualenv

#libreoffice locks
.~lock.*#

# npm logs
npm-debug.log

# tests and trash
devices_simulator/simulate_dir/simulation_conf.json
trash_tests/*
test-reports/*

# frontend
bower_components
carflow/clients/ui/webapp/.directory